@import url("https://cdn.jsdelivr.net/gh/sanoojes/Lucid-Lyrics@main/fonts/styles.css");

:root,
.lucid-lyrics-pip {
  --lucid-lyrics-text-rgb-color: 255, 255, 255;
  --lucid-lyrics-text-color: rgb(var(--lucid-lyrics-text-rgb-color));
  --lucid-lyrics-text-past-color: rgb(var(--lucid-lyrics-text-rgb-color), 0.5);

  --btn-rgb-color: 255, 255, 255;

  --lucid-lyrics-font-size: clamp(1.85rem, 7cqw, 3.5rem);
  --lucid-lyrics-line-height: 1.18;
  --lucid-lyrics-font-weight: 700;

  --lucid-lyrics-bg-scale: 0.75;
  --lucid-lyrics-bg-font-weight: 600;

  --lucid-lyrics-credits-font-weight: 600;
  --lucid-lyrics-credits-scale: 0.47;

  --lucid-lyrics-font-family: LucidLyrics, "SF Pro", var(--encore-variable-font-stack);
}

.use-encore-font {
  --lucid-lyrics-font-family: var(--encore-variable-font-stack);
}

.heart-btn {
  --btn-color: transparent;
  --btn-hover-color: transparent;
  --fill-active-shadow: 8px;

  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  transform-origin: center center;

  &:hover {
    transform: scale(1.2);
  }
  &.active,
  &:active {
    transform: scale(0.9);
  }
}

.lucide {
  fill: rgba(var(--lucid-lyrics-text-rgb-color), 0);
  stroke: rgba(var(--lucid-lyrics-text-rgb-color), 1);
  transform: none;
  transition:
    fill 0.3s ease-in-out,
    transform 0.3s ease;

  &.filled {
    fill: rgba(var(--lucid-lyrics-text-rgb-color), 1);
  }
  &.active {
    filter: drop-shadow(0 0 var(--fill-active-shadow, 4px) white);
  }

  &.rotate {
    transform: rotate(180deg);
  }
}

.lucid-lyrics-bg {
  position: absolute;
  z-index: 1;
  inset: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-lucid-lyrics {
  .main-topBar-container,
  .main-view-container {
    display: none;
  }
}

.lyrics-fullscreen-root {
  position: fixed;
  inset: 0;
}

.lyrics-fullscreen-root,
.lyrics-page-root {
  container-type: size;

  .now-playing-widget {
    left: -100%;

    transition:
      left 0.3s,
      right 0.3s;
  }

  &.show-now-playing-widget {
    .lyrics-container {
      --lucid-lyrics-horizontal-padding: 0 6cqw;

      width: 60%;
      left: 40%;
    }

    .now-playing-widget {
      left: 6cqw;
    }

    .simplebar-vertical {
      right: 8px;
    }

    &.widget-on-right {
      .lyrics-container {
        --lucid-lyrics-horizontal-padding: 0 6cqw;

        width: 60%;
        left: 0;
      }

      .now-playing-widget {
        left: calc(100% - 32cqi - 6cqw);
      }

      .simplebar-vertical {
        left: 8px;
        right: unset;
      }
    }
  }
}

#Desktop_PanelContainer_Id {
  border-radius: 8px;
  background: none !important;

  &:after,
  &:before {
    background: none !important;
  }

  .lucid-lyrics-bg {
    z-index: -1;
  }

  .section-btn-wrapper {
    --btn-color: transparent;
    display: flex;
    gap: 8px;
    align-items: center;
    .icon {
      background-color: transparent !important;
    }
  }

  .os-scrollbar {
    --os-size: 8px;
    --os-handle-border-radius: 32px;
  }

  .main-nowPlayingView-contextItemInfo:before {
    display: none;
  }

  .artist-artistOnTour-date,
  .main-nowPlayingView-section,
  .main-nowPlayingView-credits {
    background-color: rgba(var(--spice-rgb-text), 0.1);
    border-radius: 16px;
    border: 1px solid rgba(var(--spice-rgb-text), 0.1);
    overflow: hidden;
  }
  .main-nowPlayingView-aboutArtistV2Button,
  .CvxzmyND_aGd2RR8ZoSr,
  .k90FaSa2GhsINq5izwhz {
    background-color: transparent !important;
  }

  .cZCuJDjrGA2QMXja_Sua /* Content Wrapper */ {
    padding-top: 68px;
  }
  .W3E0IT3_STcazjTeyOJa /* Header */ {
    position: absolute;
    height: 64px;
    z-index: 1;
    margin-bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    & > div {
      padding: 0;
      max-height: fit-content;
      width: 100%;
    }

    &.mdMUqcSHFw1lZIcYEblu:before /* Header - box shadow */ {
      backdrop-filter: blur(2rem) saturate(1.5) brightness(0.75);
    }
  }

  .W3E0IT3_STcazjTeyOJa:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    transition:
      backdrop-filter 0.3s linear,
      opacity 0.3s linear;
  }

  .main-nowPlayingView-nowPlayingWidget {
    order: 0;
  }

  #lyrics-card-root {
    order: 1;
  }
  .main-nowPlayingView-section {
    order: 2;
  }
}

#lyrics-card-root {
  .sync-to-line-btn {
    top: unset;
    bottom: 16px;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}
