.sync-to-line-btn {
  --btn-color: rgba(var(--btn-rgb-color), 0.05);
  --btn-hover-color: rgba(var(--btn-rgb-color), 0.15);
  --border-color: rgba(var(--btn-rgb-color), 0.1);

  font-weight: 600;
  padding: 12px 24px;
}

.lucid-config-container {
  --btn-color: rgba(var(--btn-rgb-color), 0.05);
  --btn-hover-color: rgba(var(--btn-rgb-color), 0.15);
  --border-color: rgba(var(--btn-rgb-color), 0.1);

  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: min(4cqi, 12px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.show-a-bit {
    opacity: 0.4;
  }

  &.show,
  &:hover {
    opacity: 1;
  }

  .icon {
    padding: 12px;
    border-radius: 32px;
  }

  .hide {
    display: none;
  }
}

.lyrics-loading {
  height: 80%;
  -webkit-mask-position: left top;
  mask-position: left top;
  -webkit-mask-repeat: repeat-y;
  mask-repeat: repeat-y;
  -webkit-mask-size: contain;
  mask-size: contain;
  position: absolute;
  top: 25cqh;
  width: 100cqw;
  z-index: 99;

  background: linear-gradient(
    -45deg,
    rgb(238 238 238 / 25%) 40%,
    rgb(250 250 250 / 45%) 50%,
    rgb(238 238 238 / 25%) 60%
  );
  background-size: 500%;
  background-position-x: 100%;
  border-radius: 0.5cqw;

  animation: BackgroundShimmer 1s infinite linear;
}

.lyrics-container {
  --lucid-lyrics-horizontal-padding: 0 15.5cqw 0 18cqw;

  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;

  top: 0;
  left: 0;
  right: 0;

  transition: all 0.3s ease;
}

.status-wrapper {
  padding: var(--lucid-lyrics-horizontal-padding);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  container-type: size;
  container-name: status;

  .title {
    opacity: 0.7;
    font-weight: 500;
    font-size: 5cqw;
  }
}

.dev-mode-banner {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #f8e287;
  color: #534600;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 16px;
  z-index: 99;
  pointer-events: none;
}

.lyrics-wrapper {
  padding: var(--lucid-lyrics-horizontal-padding);
  height: 100%;
  width: 100%;
  overflow: auto;

  container-type: size;
  container-name: lyrics;

  direction: ltr;

  mask-image: linear-gradient(to bottom, #00000000 0%, #000 20%, #000 80%, #00000000 100%);

  .bottom-spacing {
    height: 35cqh;
  }
  .top-spacing {
    height: 30cqh;
  }

  .line {
    font-family: var(--lucid-lyrics-font-family) !important;
    font-size: var(--lucid-lyrics-font-size);
    font-weight: var(--lucid-lyrics-font-weight);
    line-height: var(--lucid-lyrics-line-height);
    flex-wrap: wrap;

    text-align: left;
    display: flex;
    justify-content: flex-start;
  }

  .line-wrapper {
    margin: 2cqi 0;

    &.right-align {
      padding-left: 25cqw;

      .line {
        text-align: right;
        justify-content: flex-end;
      }
    }
  }

  &.has-opp-aligned {
    .line-wrapper.left-align {
      padding-right: 25cqw;
    }
  }

  .syllable-wrapper {
    position: relative;
    display: inline-block;
    white-space: pre;
  }

  .line.background {
    font-size: calc(var(--lucid-lyrics-font-size) * var(--lucid-lyrics-bg-scale));
    font-weight: var(--lucid-lyrics-bg-font-weight);
    opacity: 0.8;
    margin-top: 1cqi;
  }

  .credits-line {
    font-size: calc(var(--lucid-lyrics-font-size) * var(--lucid-lyrics-credits-scale));
    font-weight: var(--lucid-lyrics-credits-font-weight);
    opacity: 0.7;
  }

  .animating-syllable {
    --translate-y: 0;
    --bg-size-x: 0%;
    --line-shadow-blur: inherit;

    position: relative;
    display: inline-block;
    white-space: pre;

    color: transparent;

    background: linear-gradient(
      to right,
      var(--lucid-lyrics-text-color) 55%,
      rgba(var(--lucid-lyrics-text-rgb-color), 0.25) 100%
    );

    transform-origin: center center;
    transform: translateY(var(--translate-y));

    background-size: var(--bg-size-x) 100%;

    text-shadow: 0px 0px var(--line-shadow-blur, 0) rgba(var(--lucid-lyrics-text-rgb-color), 0.5);

    opacity: 1;

    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;

    transition:
      --line-shadow-blur 0.2s ease,
      transform 0 ease-out,
      opacity 0 cubic-bezier(0.61, 1, 0.88, 1);

    will-change: background-size, transform, text-shadow, transition;

    &.past {
      transition:
        --line-shadow-blur 0.2s ease,
        transform 0.5s ease-out,
        opacity 0.3s cubic-bezier(0.61, 1, 0.88, 1);
      --bg-size-x: 200%;
    }
  }

  .space {
    display: inline-block;
    min-width: 0.25em;
  }

  .background {
    .space {
      display: inline-block;
      min-width: 0.18em;
    }
  }

  .line-wrapper.past {
    .line > .animating-syllable.past {
      /* --bg-size-x: 0%; */
      opacity: 0.5;
    }
  }

  .animating-line {
    --bg-size-y: 0%;
    --line-shadow-blur: inherit;

    color: transparent;

    background: linear-gradient(
      to bottom,
      var(--lucid-lyrics-text-color) 55%,
      rgba(var(--lucid-lyrics-text-rgb-color), 0.25) 100%
    );

    background-size: 100% var(--bg-size-y);

    text-shadow: 0px 0px var(--line-shadow-blur, 0) rgba(var(--lucid-lyrics-text-rgb-color), 0.5);

    transition: none;

    opacity: 1;

    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;

    will-change: background-size, text-shadow;

    &.past {
      --bg-size-y: 200%;
    }
  }

  .space {
    display: inline-block;
    min-width: 1.5cqi;
  }

  .line-wrapper.past {
    .animating-line.past {
      /* --bg-size-x: 0%; */
      opacity: 0.5;
    }
  }
}

@keyframes BackgroundShimmer {
  to {
    background-position-x: 0%;
  }
}
