@use "./variables.scss" as v;

.lucid-background {
  &.npv-background {
    z-index: -1;
  }
}

.Root__right-sidebar,
#Desktop_PanelContainer_Id {
  background-color: transparent !important;

  &::before {
    content: none;
    visibility: hidden;
    display: none;
  }
}

#Desktop_PanelContainer_Id {
  .main-nowPlayingView-contextItemInfo {
    &:before {
      display: none;
      content: none;
    }
  }
  .main-nowPlayingView-nowPlayingWidget {
    order: 1;
  }
  [data-testid="skeleton-section"],
  .main-nowPlayingView-section {
    order: 3;
  }
  .lyrics-npv-card {
    order: 2;
    overflow: hidden;
    position: relative;
    padding: v.$space-md v.$space-lg;

    &.is-open {
      .npv-card-header {
        padding-bottom: v.$space-md;
      }
    }
    .lyrics-area {
      --is-mobile: 1;
      --top-mask-size: 8px;
      --bottom-mask-size: 32px;

      --top-pad: max(calc((var(--npv-height) * var(--npv-height-percent)) / 10), 8px);
      --bottom-pad: max(calc((var(--npv-height) * var(--npv-height-percent)) / 1.75), 64px);

      $content-padding: 0 4cqw;

      .lenis-content {
        padding: $content-padding;
      }

      &.widget-hidden {
        .lenis-content {
          padding: $content-padding;
        }
      }
    }
  }

  .npv-card-header {
    &.auto-hide {
      position: absolute;
      inset: 0;
      transform: translate3d(0, -100%, 0);
      opacity: 0;
      visibility: hidden;
      background-color: rgba(255, 255, 255, 0.1);
      padding: v.$space-md v.$space-lg;
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: v.$r-md;
      height: 4rem;
      margin: v.$space-md;
      backdrop-filter: blur(12px);
      z-index: 2;

      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s allow-discrete;

      @starting-style {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  .lyrics-npv-card:hover {
    .npv-card-header {
      &.auto-hide {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .lucide {
    transition: transform 0.3s ease;
  }
  .rotate-icon {
    transform: rotate(180deg);
  }
  .npv-lyrics-root {
    --npv-height-percent: 0.4;
    height: calc(var(--npv-height) * var(--npv-height-percent));
    width: 100%;
    max-height: 100vh;

    .line-lyrics,
    .syllable-lyrics,
    .static-lyrics {
      --lead-font-size: calc(clamp(1.8rem, 4cqw, 3.6rem) * 0.9);
      --lyrics-line-default-padding: 12cqw;
    }
  }
  .main-nowPlayingView-coverArtContainer {
    & > div {
      &::after,
      &::before {
        display: none;
        content: none;
      }
    }

    .canvasVideoContainerNPV {
      mask-image: linear-gradient(
        to bottom,
        transparent -5%,
        black var(--canvas-mask-start),
        black var(--canvas-mask-stop),
        transparent 100%
      );
      transition:
        --canvas-mask-start 0.6s ease,
        --canvas-mask-stop 0.6s ease;
    }
    &.XixZ4ftG53tYcM4KohE1 .canvasVideoContainerNPV {
      --canvas-mask-start: 15%;
      --canvas-mask-stop: 30%;
    }
  }
}

.use-lucid-lyrics-npv {
  .Root__right-sidebar {
    .YEXWOdiHjsEepA97mhza,
    .RDlmt3TnmiGDFq273xIf,
    .Q4LnnBmyoXc5ojyZzR5V,
    .artist-artistOnTour-date,
    .main-nowPlayingView-section,
    .main-nowPlayingView-credits {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: v.$r-md;
      border: 1px solid rgba(255, 255, 255, 0.1);

      & > button {
        background-color: transparent !important;
      }
    }

    .Q4e5h5G6qGXM2uKkgUyo {
      margin: 0 6px;
      border-radius: v.$r-md;
      &:hover,
      &:hover::after {
        background-color: rgba(255, 255, 255, 0.15) !important;
      }
    }
    .Box-group-listRow-isInteractive-minBlockSize_56px {
      &:hover::after {
        background-color: rgba(255, 255, 255, 0.15) !important;
      }
    }

    .main-nowPlayingView-section {
      &.tB3JVNYttFlVC_oYVfjI {
        margin-inline: 0;
        .main-nowPlayingView-sectionHeader {
          padding: v.$space-sm v.$space-md;
        }
        & > .search-searchCategory-contentArea {
          padding: 0 v.$space-sm v.$space-sm v.$space-sm;
        }

        .search-searchCategory-carouselButton {
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: v.$r-md;
          border: 1px solid rgba(255, 255, 255, 0.1);
          overflow: hidden;
          backdrop-filter: blur(6px);
        }
      }
    }

    [data-encore-id="buttonSecondary"],
    .HzFr0RR3h12KSHxTlDOJ.kP94Cs1WuGwEMjEPrwgT {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: v.$r-md;
      border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .jHqD4CkJSTwpZihD,
    .main-nowPlayingView-aboutArtistV2Button,
    .CvxzmyND_aGd2RR8ZoSr,
    .ONPKU0_LuCIj71gm,
    .Uw4tcZdmh7s4BMdgCCuu,
    .k90FaSa2GhsINq5izwhz {
      background-color: transparent !important;
    }

    .IkRGajTjItEFQkRMeH6v,
    .IkRGajTjItEFQkRMeH6v.f2UE9n5nZcbgZrGYTU3r {
      background: none !important;
    }

    .main-nowPlayingView-nowPlayingWidget {
      order: 0;
    }

    .os-scrollbar {
      --os-size: 6px;
      --os-handle-border-radius: 32px;
    }
    .os-scrollbar-track {
      margin-top: 64px;
      height: calc(100% - 64px);
    }

    .main-nowPlayingView-contextItemInfo:before {
      display: none;
    }
  }

  /* has canvas */
  &:has(.main-nowPlayingView-coverArtContainer.u_oJcTzbq1mJ8qfhBggZ) {
    .EDzygJybL8LJ8ZCX5DuX {
      top: 4rem;
    }
    .main-nowPlayingView-section {
      backdrop-filter: blur(16px);
    }
  }
}

@property --canvas-mask-stop {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 78%;
}
@property --canvas-mask-start {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}
