@font-face {
  font-family: LucidLyrics;
  font-weight: 400;
  src: url(./Regular.woff2) format("woff2");
}

@font-face {
  font-family: LucidLyrics;
  font-weight: 500;
  src: url(./Medium.woff2) format("woff2");
}

@font-face {
  font-family: LucidLyrics;
  font-weight: 600;
  src: url(./SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: LucidLyrics;
  font-weight: 700;
  src: url(./Bold.woff2) format("woff2");
}
