@use "../variables" as v;

.slider {
  display: flex;
  align-items: center;
  gap: v.$space-md;

  &__value {
    font-size: v.$fs-sm;
    color: v.$color-accent-2;
    font-weight: v.$fw-medium;
    min-width: 42px;
    text-align: right;
  }

  &__input {
    --c: #{v.$color-accent};
    --g: 6px;
    --l: 4px;
    --s: 16px;

    width: 100%;
    height: var(--s);
    --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
    appearance: none;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    overflow: hidden;

    &:focus-visible,
    &:hover {
      --p: 25%;
    }

    &:active,
    &:focus-visible {
      --_b: var(--s);
    }

    &::-webkit-slider-thumb {
      height: var(--s);
      aspect-ratio: 1;
      border-radius: 50%;
      box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
      border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 / calc(50% - var(--l) / 2)
        100vw/0 calc(100vw + var(--g));
      -webkit-appearance: none;
      appearance: none;
      transition: 0.3s;
    }
  }
}
