@use "../variables" as v;

.volume-slider {
  position: fixed;
  text-align: center;
  background-color: transparent;
  color: var(--primary-color, v.$color);
  float: left;
  top: 50%;
  left: v.$space-2xl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  height: 250px;
  max-height: min(35vh, 15rem);

  padding: v.$space-md v.$space-xs;

  background: v.$glass-bg;
  border: 1px solid v.$glass-bd;
  border-radius: 100px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px) brightness(0.9);

  transform: translateY(-50%);

  transition: transform 0.6s var(--transition-function, v.$ease-out);

  &--hidden {
    transform: translateY(-50%) translateX(-100px) scale(0.1);
    pointer-events: none;
  }

  &--dragging {
    transform: translateY(-50%) translateX(0) scale(1);
  }

  &__label {
    width: 50px;
    font: v.$font;
    font-size: v.$fs-md;
    font-weight: v.$fw-bold;
  }

  &__bar {
    margin: v.$space-base 0;
    border-radius: v.$r-xs;
    background-color: rgba(var(--main-color, 255, 255, 255), 0.35);
    width: v.$space-sm 0 v.$space-xs 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &--dragging,
    &:hover {
      .volume-slider__fill {
        background-color: var(--theme-main-color, rgba(v.$color, 1));
        filter: saturate(1.5) contrast(1.5);
        transition: none;
      }

      .volume-slider__thumb {
        display: block;
      }
    }
  }

  &__fill {
    width: 100%;
    border-radius: v.$r-xs;
    background-color: var(--primary-color, rgba(v.$color, 0.7));
    pointer-events: none;
    transition: height 0.1s var(--transition-function, v.$ease-out);
    position: relative;
  }

  &__thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--primary-color, v.$color);
    position: relative;
    left: -2px;
    top: -5px;
    display: none;
    pointer-events: none;

    &--visible {
      display: block;
    }

    &--dragging {
      transform: scale(1.1);
    }
  }

  &__icon {
    --btn-radius: 2rem;
    --btn-size: 36px;
    --icon-padding: #{v.$space-base};

    svg {
      $fill-color: var(--primary-color, rgba(v.$color, 0.7));
      fill: $fill-color !important;
      stroke: $fill-color !important;
    }
  }

  &.unavailable &__bar {
    pointer-events: none;
  }

  &.unavailable &__fill {
    height: 100%;
    background-color: var(--tertiary-color, v.$color-muted);
  }
}
